mixin listItem(key, value)
    ul #{key} : #{value}

mixin capitalize(word, value)
    ul #{word[0].toUpperCase()}#{word.substr(1)} : #{value}

mixin myDropdown(name, caption, items)
    .dropdown
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", id='btn-'+name)
            = caption
            | &nbsp;
            span.caret
        ul.dropdown-menu()
            for item in items
                li(class='option-'+name)
                    a(tabindex="-1", href='#')= item
        input(type='hidden', name=name)
        
        script.
            $(document).ready(function () {
                $('.option-#{name}').click(function(event) {
                    var selectedVal = event.target.text; 
                    var ddCaption = selectedVal + "&nbsp;<span class='caret'></span>" ;
                    $('#btn-#{name}').html(ddCaption);
                    $('input[name="#{name}"]').val(selectedVal);
                });
            });

mixin myNavbar(logout, teacherlist)
    nav.navbar.navbar-default 
                    .row.container
                      .col-sm-12
                        .navbar-header
                            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                                span.sr-only Toggle navigation  
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#') codeConnects
                        #navbar.navbar-collapse.collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href='/') Home
                                if (teacherlist == 1)
                                   li
                                      a(href='/teacherlist') Teachers
                                li
                                    a(href='#') Link
                                li 
                                    a(href='#') Link
                            ul.nav.navbar-nav.navbar-right
                                if(logout == 1)
                                   li
                                      a(href='/logout') Logout

