

mixin listItem(key, value)
    ul #{key} : #{value}

mixin capitalize(word, value)
    ul #{word[0].toUpperCase()}#{word.substr(1)} : #{value}

mixin myDropdown(name, caption, items)
    .dropdown
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", id='btn-'+name)
            = caption
            | &nbsp;
            span.caret
        ul.dropdown-menu()
            for item in items
                li(class='option-'+name)
                    a(tabindex="-1", href='#')= item
        input(type='hidden', name=name)
        
        script.
            $(document).ready(function () {
                $('.option-#{name}').click(function(event) {
                    var selectedVal = event.target.text; 
                    var ddCaption = selectedVal + "&nbsp;<span class='caret'></span>" ;
                    $('#btn-#{name}').html(ddCaption);
                    $('input[name="#{name}"]').val(selectedVal);
                });
            });

script.
    function timepicker(day){
        var input = document.createElement('input');
        input.type = "time";
        input.step = 3600;
        input.className = "form-control";
        input.name = day;
        var app = document.getElementById(day);
        app.appendChild(input);
    }

script.
    function clearDay(day){
        $("#" + day).empty();
    }